.collumns{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
    padding: 0 10px;
    height: 100%;
    width: 85%;
    overflow-x: auto;
}

.collumnNames{
    width: 84%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
}

.changeText{
margin-right: 30px;   
}


.removeCollumn{
    width: 150px;
   margin-top: 15px;
    border-radius: 7px;
    background-color:grey;
    border: none;
    color: white;
    padding-top: 5px;
    padding: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.removeCollumn:hover{
    background-color: rgb(221, 16, 16);
}

.newCollumn{
    width: 51px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #891BE8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    margin-top: 20px;
}

.newCollumnButton{
    background: #891BE8;
    border: none;
    width: 51px;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-size: 45px;
 
   
}

.newCollumnButton:hover{
    background: #2e0f49;
   
}


