.columns{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
    padding: 0 10px;
    height: 100%;
    width: 85%;
}

.collumnNames{
    width: 84%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
}

.changeText{
margin-right: 30px;   
}