
#editableText{
    width: 362px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
background: #918d8d;
padding-left: 20px;
padding-top: 15px;
color: #000;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.generateCard{
    width: 362px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 10px;
border: 1px dashed rgba(0, 0, 0, 0.20);
background: #FFF;
}

.cardElements{
    width: 362px;
    height: 167px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F4F4F4;
    margin-bottom: 15px;
    
}

.cardElements input {
    background-color: #F4F4F4;
    border: none;
    font-size: 20px;
    width: 362px;
    min-height: 140px;
    padding: 30px;
    outline: none;
}


.deleteBTN{
width: 105px;
height: 22px;
border-radius: 7px;
background-color: rgb(206, 11, 11);
border: none;
color: white;
padding-top: 5px;
padding-bottom: 5px;
margin-right: 10px;
margin-bottom: 10px;
}

.CardButtons{
display: flex;
justify-content: flex-end;
}



